<h1>Thank you for sharing <%= @user.full_name %></h1>

Presentations start at 5pm. To get directions, go <a href="http://swbratislava3.eventbrite.com/">here</a>.

We are looking forward to see you there.